# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SETTINGS_RESET_R
	def_bool $(shields_list_contains,settings_reset_R)

config SHIELD_SETTINGS_RESET_L
	def_bool $(shields_list_contains,settings_reset_L)
